@tailwind base;
@tailwind components;
@tailwind utilities;



.Qustionaries{
    width: 693px;
    height:1262px;
    position: relative;
}
.QustionariesBackground{
object-fit: cover;
    z-index: -5;
}
